:root, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.svg {
    height: 30px;
    width: 30px;
}

.layout {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #eee;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}

header a {
    padding: 10px 3%;
}

header a:hover {
    border-bottom: 5px solid #999;
    margin-bottom: -5px;
}

main {
    margin-top: 65px;
}

/* ---- home ------------------------------ */

/* ---- home - first section ------------------------------ */

.home section:first-child {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.camera-icon {
    width: 100px;
    padding: 10px;
    border: 5px solid purple;
    border-radius: 50%;
    background: purple;
}

.connects {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.connects p {
    color: #888;
}

.follow-bar {
    display: flex;
    justify-content: space-around;
}

.follow-bar > * {
    background: #09e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.follow-bar h3 {
    width: 80%;
}

.follow-bar h3:hover {
    background: #07f;
}

.follow-bar div {
    width: 15%;
}

.follow-bar div:hover {
    background: #07f;
}

.caret-down-icon {
    width: 30px;
}

/* ---- home - user description ------------------------------ */

.user-description {
    padding: 10px 10px 20px 10px;
    border-bottom: 2px solid #eee;
}

.user-description > * {
    padding-bottom: 10px;
    color: #111;
}

.user-description a:link,
.user-description a:active,
.user-description a:visited {
    color: #05f;
    text-decoration: none;
}

.user-description a:hover {
    color: #09f;
}

/* ---- home - menu ------------------------------ */

.home-menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #eee;
}

.home-menu > * > * {
    padding: 15px 0;
}

.home-menu div {
    padding: 0 10%;
}

.home-menu > *:first-child {
    height: 100%;
}

.home-menu > *:hover {
    border-top: 5px solid #999;
    margin-top: -5px;
}

/* ---- user images ------------------------------ */

.user-images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    padding-bottom: 50px;
}

.user-images img {
    height: 32vw;
    width: 32vw;
    object-fit: cover;
}

/* ---- bottom nav ------------------------------ */

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 5px solid #eee;
    background: #fff;
}

nav a {
    padding: 10px 5%;
}

nav a:hover {
    border-top: 5px solid #999;
    margin-top: -5px;
}

/* ---- keyframes ------------------------------ */

@media screen and (min-width: 1000px) {

    /* .user-images {
        gap: 1vw;
    } */

    .user-images img {
        height: 24.25vw;
        width: 24.25vw;
    }
}